.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 42.5rem;
    height: 85vh;
    padding: 2.5rem 1rem 2.5rem 1rem !important;
}

.mugshot-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4vh;
    width: 30rem;
    height: 15rem;
}

.mugshot-img {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.2);
}

.desc-container {
    margin-top: 0;
    text-align: center;
}

.title-name {
    text-align: center;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.sub-title {
    text-transform: uppercase;
    color: #FF7E7E;
}

.sub-title a {
    color: rgb(60, 99, 255);
    text-decoration: none;
    background-color: transparent;
}

.sub-title a:hover {
    color: rgb(132, 156, 255);
}

.desc {
    max-width: 30rem;
    margin: auto;
}