/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

html,
body {
    background-color: rgb(30, 30, 30);
    overflow-x: clip;
}

.section {
    color: white;
    min-height: 50vh;
    max-width: 50rem;
    margin: auto;
    padding: 2rem 1rem 2rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: monospace, serif;
    text-transform: uppercase;
}

h2 {
    color: cyan;
    font-size: 3.5rem;
}

img {
    -webkit-user-drag: none;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0px;
    margin-top: 2rem;
}

.icon img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.125rem solid rgba(255, 255, 255, 0.2);
}

.plain-text {
    font-family: monospace, serif;
    margin-bottom: 3rem;
}

.light-text {
    font-family: monospace, serif;
    color: rgb(150, 150, 150);
}

.circle-dom {
    border-radius: 50% !important;
}

.resume-entry {
    margin-bottom: 4rem;
}

.resume-entry-header {
    display: flex;
    flex-direction: row;
}

.resume-entry-title {
    width: 100%;
    margin-top: 0;
}

.resume-entry-date {
    min-width: 15rem;
    text-align: right;
    margin-bottom: 0;
}

.resume-content {
    margin-right: auto;
}

.resume-content ul,
.project-desc {
    padding-left: 1rem;
}

.resume-content li {
    margin-top: 0.125rem;
    margin-bottom: 1rem;
}

.skill-block {
    display: flex;
    column-gap: 0.5rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem 1.25rem 1rem 1.25rem;
    background-color: rgb(50, 50, 50);
    overflow-x: visible;
    height: max-content;
    border-radius: 0.5rem;
}

.skill-description {
    height: 0;
    width: 0;
    overflow: auto;
    position: absolute;
    z-index: -1;
}

.generic-skill-img-wrapper {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    vertical-align: middle;
    margin: auto 0.5rem auto 0.5rem;
    transition: transform 0.25s ease-in-out;
}

.generic-skill-img-wrapper:hover {
    transform: scale(1.2);
}

.generic-skill-img-wrapper:hover::before {
    font-size: small;
    content: attr(data-text);
    text-transform: capitalize;
    position: absolute;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.85;
    background-color: #171717;
    color: #fff;
    border-radius: 1rem;
}

.projects-container {
    max-height: 80rem;
    overflow: hidden;
}

.projects-container.shown {
    max-height: fit-content;
    overflow: clip;
}

.project-entry {
    display: block;
    margin-bottom: 4rem;
}

.project-entry-header {
    margin-bottom: 1rem;
}

.project-icon-container {
    justify-content: left;
    padding-left: 0px;
    margin-bottom: 2rem;
}

.project-icon {
    margin-right: 1rem;
}

.project-desc li {
    margin-bottom: 0.375rem;
}

.expand-container {
    text-align: center;
    padding-bottom: 0.5rem;
}

.expand-container.expand {
    background-image: linear-gradient(to bottom, transparent, rgb(30, 30, 30));
    transform: translateY(-100%);
}

.img-expand {
    cursor: pointer;
    width: 5rem;
}

.img-expand.contract {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .expand-container.expand {
        transform: translateY(-60%);
    }
}