html,
body {
    background-color: rgb(30, 30, 30);
    overflow-x: clip;
}

.section {
    color: white;
    min-height: 50vh;
    max-width: 50rem;
    margin: auto;
    padding: 5rem 1.5rem 2rem 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: monospace, serif;
    text-transform: uppercase;
}

h2 {
    color: cyan;
    font-size: 3.5rem;
    margin-top: 0;
}

img {
    -webkit-user-drag: none;
}

a {
    color: rgb(226, 232, 240);
    text-decoration: none;
}

a:hover {
    color: cyan;
}

a.external::after {
    background-color: transparent;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAFFmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNi4wLWMwMDIgNzkuMTY0NDYwLCAyMDIwLzA1LzEyLTE2OjA0OjE3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjEuMiAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDIzLTA5LTE4VDE5OjExOjM0KzA4OjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyMy0wOS0xOFQxOToxMzoxNCswODowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyMy0wOS0xOFQxOToxMzoxNCswODowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJzUkdCIElFQzYxOTY2LTIuMSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDphMDk4MjA3Mi03MzRmLWJlNDgtYTFlNy01ODI4OTkyOWUzZDQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6YTA5ODIwNzItNzM0Zi1iZTQ4LWExZTctNTgyODk5MjllM2Q0IiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6YTA5ODIwNzItNzM0Zi1iZTQ4LWExZTctNTgyODk5MjllM2Q0Ij4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDphMDk4MjA3Mi03MzRmLWJlNDgtYTFlNy01ODI4OTkyOWUzZDQiIHN0RXZ0OndoZW49IjIwMjMtMDktMThUMTk6MTE6MzQrMDg6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyMS4yIChXaW5kb3dzKSIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7EBjv0AAAAUElEQVQYlY2Pyw3AMAhDTdRBMlq6/xCvlyZCyFT1DfzMJ9QIINeDom1EREi622Tqrze7ACyYoTOsghWyq4FpIXcjMK3fPVPB8QVlXX+mStIDO2dt5BGAfPUAAAAASUVORK5CYII=);
    margin: 0px 3px 0px 5px;
}

.icon-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0px;
    margin-top: 2rem;
}

.icon img:hover {
    transform: scale(1.3);
}

.icon img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.125rem solid rgba(255, 255, 255, 0.2);
    transition: transform 0.2s ease-in;
}

.plain-text {
    font-family: monospace, serif;
    margin-bottom: 3rem;
}

.light-text {
    font-family: monospace, serif;
    color: rgb(150, 150, 150);
}

.circle-dom {
    border-radius: 50% !important;
}

.resume-entry {
    margin-bottom: 4rem;
}

.resume-entry-header {
    display: flex;
    flex-direction: row;
}

.resume-entry-title {
    width: 100%;
    margin-top: 0;
}

.resume-entry-date {
    min-width: fit-content;
    text-align: right;
    margin-bottom: 0;
}

.resume-content {
    margin-right: auto;
}

.resume-content ul,
.project-desc {
    padding-left: 1rem;
}

.resume-content li {
    margin-top: 0.125rem;
    margin-bottom: 1rem;
}

.skill-container {
    margin: 1rem 0 1rem 0;
    border-radius: 0.75rem;
}

.skill-block {
    display: flex;
    column-gap: 0.75rem;
    padding: 0 1.25rem 0 1.25rem;
    background-color: rgb(50, 50, 50);
    overflow-x: visible;
    height: max-content;
    width: max-content;
    border-radius: 0.5rem;
    cursor: grab;
}

.skill-description {
    height: 0;
    width: 0;
    overflow: auto;
    position: absolute;
    z-index: -1;
}

.generic-skill-img-wrapper {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    margin: auto 0.5rem auto 0.5rem;
    padding: 1rem 0 1rem 0;
    user-select: none;
    transition: transform 0.2s ease-in-out;
}

.generic-skill-img-wrapper:hover {
    z-index: 1;
    transform: scale(1.25);
}

.generic-skill-img-wrapper:hover::before {
    font-size: small;
    content: attr(data-text);
    text-transform: capitalize;
    position: absolute;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.85;
    background-color: #171717;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
}

.generic-skill-img {
    height: 2.5rem;
    width: 2.5rem;
}

.projects-container {
    max-height: 80rem;
    overflow: hidden;
}

.projects-container.shown {
    max-height: fit-content;
    overflow: clip;
}

.project-entry {
    display: block;
    margin-bottom: 4rem;
}

.project-entry-header {
    margin-bottom: 1rem;
}

.project-icon-container {
    justify-content: left;
    padding-left: 0px;
    margin-bottom: 2rem;
}

.project-icon {
    margin-right: 1rem;
}

.project-icon img:hover {
    transform: initial !important;
}

.project-desc li {
    margin-bottom: 0.375rem;
}

.expand-container {
    text-align: center;
    padding-bottom: 0.5rem;
}

.expand-container.expand {
    background-image: linear-gradient(to bottom, transparent, rgb(30, 30, 30));
    transform: translateY(-100%);
}

.img-expand {
    cursor: pointer;
    width: 5rem;
}

.img-expand.contract {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .expand-container.expand {
        transform: translateY(-60%);
    }
}