.drag-demo-cursor {
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    top: 0;
    left: 0;
}

.drag-demo-hand-open,
.drag-demo-hand-grab {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.drag-demo-hand-open {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' stroke='%23333' stroke-width='0.8'%3E%3Cpath d='M18 11V6.5a1.5 1.5 0 0 0-3 0V9m0-3.5V4a1.5 1.5 0 0 0-3 0v5m0-4.5a1.5 1.5 0 0 0-3 0V9m-2.5 1V6a1.5 1.5 0 0 0-3 0v7.17a3 3 0 0 0 .88 2.12L9.5 21h7.28a2 2 0 0 0 1.9-1.37l1.82-5.46a1.5 1.5 0 0 0-.53-1.67L18 11Z'/%3E%3C/svg%3E");
}

.drag-demo-hand-grab {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' stroke='%23333' stroke-width='0.8'%3E%3Cpath d='M6.5 10V9a1.5 1.5 0 0 1 3 0m0 0V8.5a1.5 1.5 0 0 1 3 0V9m0-.5a1.5 1.5 0 0 1 3 0v1m0 0a1.5 1.5 0 0 1 3 0v3.17a3 3 0 0 1-.88 2.12L14.5 21H7.22a2 2 0 0 1-1.9-1.37L3.5 14.17a1.5 1.5 0 0 1 .53-1.67L6.5 10Z'/%3E%3C/svg%3E");
}
