.pet-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
}

.pet-container {
    position: relative;
    width: 20rem;
    min-height: 7.5rem;
    overflow: hidden;
}

.pet {
    position: absolute;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}