.pet-container-overlay {
    position: absolute;
    height: 20rem;
    width: 20rem;
}

.pet-container {
    position: relative;
    width: 20rem;
    min-height: 7.5rem;
}

.pet {
    position: absolute;
    cursor: pointer;
    user-select: none;
}